.u-section-1 {
 background-image: linear-gradient(#1a1a1a, #e0e5eb);
}

.u-section-1 .u-sheet-1 {
 min-height: 642px;
}

.u-section-1 .u-layout-wrap-1 {
 margin: 70px 0 0;
}

.u-section-1 .u-layout-cell-1 {
 min-height: 266px;
}

.u-section-1 .u-container-layout-1 {
 padding-left: 20px;
}

.u-section-1 .u-image-1 {
 width: 387px;
 left: auto;
 right: 0;
}

.u-section-1 .u-layout-cell-2 {
 min-height: 336px;
}

.u-section-1 .u-container-layout-2 {
 padding: 20px 33px;
}

.u-section-1 .u-text-1 {
 font-weight: 400;
 margin: 14px 20px 0 33px;
}

.u-section-1 .u-image-2 {
 min-height: 531px;
 background-image: url("images/des.jpg");
 background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
 padding: 30px 60px;
}

@media (max-width: 1199px) {
 .u-section-1 .u-sheet-1 {
   min-height: 100px;
 }

 .u-section-1 .u-layout-wrap-1 {
   margin-right: initial;
   margin-left: initial;
 }

 .u-section-1 .u-layout-cell-1 {
   min-height: 219px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 277px;
 }

 .u-section-1 .u-text-1 {
   margin-left: 0;
   margin-right: 0;
 }

 .u-section-1 .u-image-2 {
   min-height: 438px;
 }
}

@media (max-width: 991px) {
 .u-section-1 .u-layout-cell-1 {
   min-height: 168px;
 }

 .u-section-1 .u-image-1 {
   width: 277px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 100px;
 }

 .u-section-1 .u-container-layout-2 {
   padding-left: 30px;
   padding-right: 30px;
 }

 .u-section-1 .u-image-2 {
   min-height: 335px;
 }

 .u-section-1 .u-container-layout-3 {
   padding-left: 30px;
   padding-right: 30px;
 }
}

@media (max-width: 767px) {
 .u-section-1 .u-layout-cell-1 {
   min-height: 283px;
 }

 .u-section-1 .u-container-layout-1 {
   padding-left: 10px;
 }

 .u-section-1 .u-image-1 {
   width: 485px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 148px;
 }

 .u-section-1 .u-container-layout-2 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .u-section-1 .u-image-2 {
   min-height: 503px;
 }

 .u-section-1 .u-container-layout-3 {
   padding-left: 10px;
   padding-right: 10px;
 }
}

@media (max-width: 575px) {
 .u-section-1 .u-layout-cell-1 {
   min-height: 219px;
 }

 .u-section-1 .u-image-1 {
   width: 300px;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 163px;
 }

 .u-section-1 .u-image-2 {
   min-height: 317px;
 }
}.u-block-c042-2 {
 position: absolute;
 bottom: 10px;
}

.u-block-c042-3 {
 position: absolute;
 left: 0;
}

.u-block-c042-4 {
 position: absolute;
 right: 0;
}

.u-section-2-1 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/8b8f8eb5da3cff16ac58437ec39a73606bd8030e128b71e55dc62e2aaca12dd60fbb18b3ef74a9f5a10f27b2257b9cdb34937ce1e1149a96216d17_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
 min-height: 967px;
}

.u-block-7389-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-7389-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-1 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-1 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-1 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-1 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-7389-41 {
   padding: 29px;
 }

 .u-section-2-1 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-1 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-1 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-1 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-1 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-1 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-1 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-1 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-1 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-1 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-1 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-1 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-1 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-1 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-1 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-1 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-1 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-1 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-1 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-1 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-1 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-1 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-1 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-1 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-1 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-1 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-1 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-1 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-1 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-1 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-1 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-1 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-1 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-1 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-1 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-1 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-1 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-1 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-1 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-1 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-1 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-1 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-1 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}

.u-section-2-2 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/8b8f8eb5da3cff16ac58437ec39a73606bd8030e128b71e55dc62e2aaca12dd60fbb18b3ef74a9f5a10f27b2257b9cdb34937ce1e1149a96216d17_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
 min-height: 967px;
}

.u-block-06d7-40 {
 height: 66px;
 width: 66px;
 margin: 29px 95px 0 auto;
 padding: 29px;
}

.u-block-06d7-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-06d7-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-2 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-2 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-2 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-2 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-06d7-41 {
   padding: 29px;
 }

 .u-section-2-2 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-2 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-2 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-2 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-2 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-2 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-2 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-2 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-2 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-2 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-2 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-2 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-2 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-2 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-2 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-2 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-2 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-2 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-2 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-2 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-2 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-2 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-2 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-2 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-2 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-2 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-2 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-2 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-2 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-2 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-2 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-2 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-2 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-2 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-2 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-2 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-2 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-2 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-2 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-2 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-2 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-2 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-2 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}

.u-section-2-3 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/5186d88d385337c874de3ec04b44a0b9b0d6cead6bd39a2ab00b4c993786d8d8d57fdd46943c8e3a57923daf39a316fccf35056d026fdb31c281bb_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
 min-height: 967px;
}

.u-block-f723-40 {
 height: 66px;
 width: 66px;
 margin: 29px 95px 0 auto;
 padding: 29px;
}

.u-block-f723-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-f723-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-3 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-3 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-3 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-3 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-f723-41 {
   padding: 29px;
 }

 .u-section-2-3 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-3 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-3 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-3 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-3 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-3 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-3 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-3 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-3 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-3 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-3 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-3 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-3 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-3 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-3 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-3 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-3 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-3 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-3 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-3 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-3 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-3 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-3 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-3 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-3 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-3 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-3 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-3 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-3 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-3 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-3 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-3 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-3 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-3 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-3 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-3 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-3 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-3 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-3 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-3 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-3 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-3 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-3 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}

.u-section-2-4 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/a7b8527df33403435fe88b8b2b6e505fabcb1c31eb0834259ac71e2306f5ca2d499ec0f91bd656226b1830cf0d9865cc8db87a529a8e9f40984882_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
 min-height: 967px;
}

.u-block-a422-40 {
 height: 66px;
 width: 66px;
 margin: 29px 95px 0 auto;
 padding: 29px;
}

.u-block-a422-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-a422-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-4 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-4 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-4 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-4 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-a422-41 {
   padding: 29px;
 }

 .u-section-2-4 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-4 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-4 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-4 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-4 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-4 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-4 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-4 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-4 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-4 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-4 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-4 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-4 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-4 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-4 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-4 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-4 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-4 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-4 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-4 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-4 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-4 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-4 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-4 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-4 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-4 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-4 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-4 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-4 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-4 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-4 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-4 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-4 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-4 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-4 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-4 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-4 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-4 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-4 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-4 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-4 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-4 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-4 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}

.u-section-2-5 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/086c10ad488c722ea019949924bdf3948f5ff20ba38521e70f51258e3f47bea027b0c71d539ad9ae881f95ec2e191bf1d3f675411e8f7913679072_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
 min-height: 967px;
}

.u-block-1b8f-40 {
 height: 66px;
 width: 66px;
 margin: 29px 95px 0 auto;
 padding: 29px;
}

.u-block-1b8f-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-1b8f-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-5 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-5 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-5 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-5 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-1b8f-41 {
   padding: 29px;
 }

 .u-section-2-5 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-5 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-5 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-5 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-5 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-5 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-5 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-5 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-5 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-5 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-5 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-5 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-5 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-5 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-5 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-5 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-5 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-5 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-5 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-5 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-5 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-5 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-5 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-5 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-5 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-5 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-5 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-5 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-5 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-5 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-5 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-5 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-5 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-5 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-5 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-5 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-5 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-5 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-5 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-5 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-5 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-5 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-5 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}

.u-section-2-6 {
 background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/086c10ad488c722ea019949924bdf3948f5ff20ba38521e70f51258e3f47bea027b0c71d539ad9ae881f95ec2e191bf1d3f675411e8f7913679072_1280.jpg");
 background-position: 50% 50%;
}

.u-section-2-6 .u-sheet-1 {
 min-height: 967px;
}

.u-block-029a-40 {
 height: 66px;
 width: 66px;
 margin: 29px 95px 0 auto;
 padding: 29px;
}

.u-block-029a-41 {
 height: 66px;
 width: 66px;
 bottom: 0;
 right: 0;
 margin: -368px auto 60px -222px;
}

.u-block-029a-42 {
 height: 66px;
 width: 66px;
 background-image: none;
 margin: -815px auto 60px -222px;
 padding: 9px;
}

.u-section-2-6 .u-text-1 {
 font-weight: 700;
 width: 448px;
 font-size: 4.5rem;
 margin: 88px auto 0;
}

.u-section-2-6 .u-btn-1 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 91px 177px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-2 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -53px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-3 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 16px 451px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-4 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 4px auto 0 223px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-5 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -16px 112px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-6 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -8px 346px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-7 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 36px auto 0 74px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-8 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -24px auto 0 297px;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-9 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 30px 16px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-10 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: -34px 420px 0 auto;
 padding: 12px 31px 13px 30px;
}

.u-section-2-6 .u-btn-11 {
 letter-spacing: 1px;
 font-size: 1.125rem;
 border-style: none;
 font-weight: 700;
 text-transform: uppercase;
 background-image: none;
 margin: 74px auto 60px 223px;
 padding: 12px 31px 13px 30px;
}

@media (max-width: 1199px) {
 .u-section-2-6 .u-sheet-1 {
   min-height: 944px;
 }

 .u-block-029a-41 {
   padding: 29px;
 }

 .u-section-2-6 .u-btn-1 {
   margin-right: 0;
 }

 .u-section-2-6 .u-btn-2 {
   margin-left: 0;
 }

 .u-section-2-6 .u-btn-3 {
   margin-right: 251px;
 }

 .u-section-2-6 .u-btn-4 {
   margin-left: 23px;
 }

 .u-section-2-6 .u-btn-5 {
   margin-right: 0;
 }

 .u-section-2-6 .u-btn-6 {
   margin-top: 20px;
   margin-right: 146px;
 }

 .u-section-2-6 .u-btn-7 {
   margin-left: 0;
 }

 .u-section-2-6 .u-btn-8 {
   margin-top: 20px;
   margin-left: 97px;
 }

 .u-section-2-6 .u-btn-9 {
   margin-right: 0;
 }

 .u-section-2-6 .u-btn-10 {
   margin-right: 220px;
 }

 .u-section-2-6 .u-btn-11 {
   margin-top: -37px;
   margin-left: 194px;
 }
}

@media (max-width: 991px) {
 .u-section-2-6 .u-sheet-1 {
   min-height: 998px;
 }

 .u-section-2-6 .u-btn-3 {
   margin-right: 31px;
 }

 .u-section-2-6 .u-btn-4 {
   margin-left: 0;
 }

 .u-section-2-6 .u-btn-6 {
   margin-right: 0;
 }

 .u-section-2-6 .u-btn-8 {
   margin-left: 0;
 }

 .u-section-2-6 .u-btn-10 {
   margin-top: 20px;
   margin-right: 0;
 }

 .u-section-2-6 .u-btn-11 {
   margin-top: -77px;
   margin-left: 202px;
 }
}

@media (max-width: 767px) {
 .u-section-2-6 .u-sheet-1 {
   min-height: 947px;
 }

 .u-section-2-6 .u-text-1 {
   font-size: 6rem;
 }

 .u-section-2-6 .u-btn-1 {
   margin-top: 292px;
   margin-right: auto;
   margin-left: 153px;
 }

 .u-section-2-6 .u-btn-2 {
   margin-top: -254px;
 }

 .u-section-2-6 .u-btn-3 {
   margin-top: 11px;
   margin-right: 123px;
 }

 .u-section-2-6 .u-btn-4 {
   margin-top: 8px;
 }

 .u-section-2-6 .u-btn-6 {
   margin-top: 122px;
   margin-right: 80px;
 }

 .u-section-2-6 .u-btn-7 {
   margin-top: -111px;
 }

 .u-section-2-6 .u-btn-8 {
   margin-top: 58px;
   margin-left: 86px;
 }

 .u-section-2-6 .u-btn-9 {
   margin-top: 108px;
   margin-right: 142px;
 }

 .u-section-2-6 .u-btn-10 {
   margin-top: -137px;
   margin-right: 20px;
 }

 .u-section-2-6 .u-btn-11 {
   margin-top: -30px;
   margin-left: 20px;
 }
}

@media (max-width: 575px) {
 .u-section-2-6 .u-sheet-1 {
   min-height: 958px;
 }

 .u-section-2-6 .u-text-1 {
   font-size: 3.75rem;
   width: 340px;
 }

 .u-section-2-6 .u-btn-1 {
   margin-top: 80px;
   margin-left: -31px;
 }

 .u-section-2-6 .u-btn-2 {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: auto;
 }

 .u-section-2-6 .u-btn-3 {
   margin-top: 34px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-6 .u-btn-4 {
   margin-top: 9px;
   margin-right: 49px;
   margin-left: auto;
 }

 .u-section-2-6 .u-btn-5 {
   margin-top: 37px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-6 .u-btn-6 {
   margin-top: 88px;
   margin-right: auto;
   margin-left: -50px;
 }

 .u-section-2-6 .u-btn-7 {
   margin-top: -174px;
   margin-right: 1px;
   margin-left: auto;
 }

 .u-section-2-6 .u-btn-8 {
   margin-top: 137px;
   margin-right: 39px;
   margin-left: auto;
 }

 .u-section-2-6 .u-btn-9 {
   margin-top: 51px;
   margin-right: -12px;
 }

 .u-section-2-6 .u-btn-10 {
   margin-top: -89px;
   margin-right: auto;
   margin-left: -20px;
 }

 .u-section-2-6 .u-btn-11 {
   margin-top: -211px;
   margin-right: -36px;
   margin-left: auto;
 }
}
